<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="tab1">
      <ion-icon name="book"></ion-icon>
      <ion-label>Books</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="list-box"></ion-icon>
      <ion-label>History</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>