<ion-header>
  <ion-toolbar>
    <ion-title>tab1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let item of books">
    <ion-item (click)="toDetail(item.id)">
      <ion-thumbnail slot="start">
        <ion-img class="image" src={{item.image}}></ion-img>
      </ion-thumbnail>
      <p>
        {{item.title}}
      </p>
    </ion-item>
  </ion-list>
</ion-content>